@using TicariOtomasyon.Models.Classes
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CATEGORY PAGE</h2>
<hr />
<table class="table table-bordered table-hover" style="margin-top:20px">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">CATEGORY NAME</th>
        <th class="text-center">DELETE</th>
        <th class="text-center">UPDATE</th>
    </tr>
    @foreach (var category in Model)
    {
<tr>
    <td class="text-center">@category.CategoryId</td>
    <td class="text-center">@category.CategoryName</td>



    <td class="text-center"><a class='btn btn-danger btn-xs' href="/Category/CategoryDelete/@category.CategoryId"><span class="glyphicon glyphicon-remove"></span> DELETE</a></td>
    <td class="text-center"><a class='btn btn-primary btn-xs' href="/Category/CategoryFetch/@category.CategoryId" ><span class="glyphicon glyphicon-edit"></span>UPDATE</a></td>




</tr>
    }

</table>
<a class='btn btn-success btn-sm' href="/Category/CategoryAdd"><span class="glyphicon glyphicon-plus"></span>NEW CATEGORY ADD</a>